/**
 * style.css
 * Contains CSS to make site responsive i.e. mobile and tab friendly.
 */
@media (min-width: 1200px)
.container {
    max-width: 1140px;
}
@media (min-width: 992px)
.container {
    max-width: 960px;
}
@media (min-width: 768px)
.container {
    max-width: 720px;
}
@media (min-width: 576px)
.container {
    max-width: 540px;
}
@media (min-width: 768px)
.col-md-12 {
    max-width: 100%;
}
@media (min-width: 768px)
    .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
@media (min-width: 992px)
.col-md-6 {
    width: 50%;
}
@media (min-width: 992px)
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}
@media (min-width: 768px)
.text-md-right {
    text-align: right !important;
}