html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: #fff;
    color: #999999;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    transition: .3s all ease;
    color: #f67e7d;
}

.m-50 {
    margin: 50px !important;
}

.m-85 {
    margin: 85px !important;
}

.m-100 {
    margin: 100px !important;
}

.mb-4 {
    margin-bottom: 1.4rem !important;
}

.mb-5 {
    margin-bottom: 1.5rem !important;
}

.mb-50 {
    margin-bottom: 50px !important;
} 
.mb-70 {
    margin-bottom: 70px !important;
} 
.mb-100 {
    margin-bottom: 100px !important;
} 

.ml-150 {
    margin-left: 150px !important;
}

.mt-150 {
    margin-top: 150px !important;
}
.mt-50 {
    margin-top: 50px !important;
}
.mt-30 {
    margin-top: 30px !important;
}
p-30 {
    padding: 30px !important;
}

pb-5 {
    padding-bottom: 50px !important;
}

pb-5 {
    padding-bottom: 50px !important;
}

pb-3 {
    padding-bottom: 30px !important;
}
mt-140{
    margin-top: 140px !important;
}
h1 {
    font-family: "Great Vibes", cursive;
    font-size: 9.5vw;
    color: #fff;
}

.h2-date {
    font-size: 60px;
    color: #f67e7d;
    font-family: "Great Vibes", cursive;
    line-height: 1.8;
    font-weight: 500;
}

.justify-content-center {
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.d-flex {
    display: flex !important;
}

/***********************
Home section
***********************/
.image {
    background: url(../images/bg_1.jpg);
    position: relative;
    width: 1380px;
    height: 720px;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 50;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
}

.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.content {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

.text-center {
    text-align: center !important;
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
    color: lightgray;
    font-size: 150px;
    padding: 0px;
    font-weight: 200px;
}

.subheading {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 7px;
    position: relative;

}

.subheading:before {
    position: absolute;
    top: 50%;
    left: -150px;
    content: '';
    width: 130px;
    height: 2px;
    background: #fff;
}

.subheading:after {
    position: absolute;
    top: 50%;
    right: -140px;
    content: '';
    width: 130px;
    height: 2px;
    background: #fff;
}

#timer {
    width: 90%;
    margin: 0 auto;
    color: #fff;
}

.time {
    font-size: 20px;
    font-weight: 500;
    border-left: 1px solid rgba(0, 0, 0, .05);
    color: $white;
    display: inline-block;
    list-style-type: none;
    padding: 15px 6.5rem;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.time span {
    display: block;
    font-size: 5.5rem;
}

/*************************
MAin date section
****************************/
.img {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.wrap {
    width: 100%;
    z-index: 55;
    height: auto;
}

.wrap:before {
    position: absolute;
    top: 40px;
    left: 20px;
    right: 20px;
    bottom: 40px;
    content: '';
    border: 1px solid rgba(0, 0, 0, 0.15);
    z-index: 55;
    transform: rotate(-0.5deg);
}

.wrap:after {
    position: absolute;
    top: 40px;
    left: 20px;
    right: 20px;
    bottom: 40px;
    content: '';
    border: 1px solid rgba(0, 0, 0, 0.15);
    z-index: 55;
}

.text {
    z-index: 55;
}

.sub-heading {
    font-weight: 700;
    display: block;
    text-transform: uppercase;
    font-family: "Libre Caslon Text", serif;
    font-size: 17px;
}

.icon {
    font-size: 4vw;
    line-height: 1px;
    margin-bottom: 50px;
}

/*********************************
Bride-groom-section
***************************/
.wrapper-br-gr .upper-flowers {
    background-image: url(../images/top-bg.jpg);
/*    position: absolute;*/
    top: 0;
    left: 0;
    right: 0;
    content: '';
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.bride-groom {
    width: 100%;
    position: relative;
    z-index: 0;
/*    margin-bottom: 180px;*/
}

.bride-groom:before {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: -40px;
    content: '';
    border: 1px solid rgba(0, 0, 0, 0.15);
    z-index: 2;
    transform: rotate(-1deg);
}

.bride-groom:after {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: -40px;
    content: '';
    border: 1px solid rgba(0, 0, 0, 0.15);
    z-index: 1;
    transform: rotate(1deg);
}
.bride-groom .img {
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 0 auto;
    z-index: 3;
}

.h2-names {
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 500;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 37px;
}

.sub-heading-para {
    padding: 15px;
    font-size: 17px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.45);
    line-height: 30px;
}

.head-text {
    font-size: 90px;
    color: #f67e7d;
    font-family: "Great Vibes", cursive;
    font-weight: 500;
}
.transform{
    transform: translateY(-50%);
}
/*********************************
        Love Story
**********************************/
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}
.timeline:before {
    top: 30px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 1px;
    border-right: 1px solid #f67e7d;
    left: 50%;
    margin-left: 0px;
}
.timeline > li {
    margin-bottom: 20px;
    position: relative;
}
.timeline {
    list-style: none;
}
.timeline > li > .timeline-badge {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #fff;
    width: 100px;
    height: 100px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50px;
    border: 5px solid #f67e7d;
    z-index: 1;
    border-radius: 50%;
}
.timeline > li {
    margin-bottom: 20px;
    position: relative;
}
.timeline > li > .timeline-panel {
    width: 43%;
    position: relative;
    z-index: 0;
    background: #fff;
    padding: 30px;
}
.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    border: 1px solid rgba(0, 0, 0, 0.15);
    z-index: -1;
    transform: rotate(1deg);
}
.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    border: 1px solid rgba(0, 0, 0, 0.15);
    z-index: -1;
    transform: rotate(-1deg);
}
.date {
    display: block;
    margin-bottom: 10px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    color: #f67e7d;
}
.timeline-title {
    margin-top: 0;
    font-size: 24px;
    color: #000000;
    margin-bottom: 10px;
}
li .timeline-inverted > .timeline-panel {
    float: right;
}
/***************************************
Sweet Messages
*************************************/
.bg-light {
    background: #f8f9fa !important;
}
.test-section{
    padding: 7em 0;
    position: relative;
}
.card{
    background-color: #fff;
    height: 400px;
    width: 320px;
    position: relative;
    box-shadow: 0 15px 40px rgba(0,0,0,0.1);
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    margin: 30px;
}
.card-profile{
  height: 25%;
    width: 100%;
    background-image: linear-gradient(45deg, #DD5E89,#f67e7d,#DD5E89);
    position: absolute;
    bottom: 0;
    border-radius: 140px 140px 0 0;
}
.card-img{
    width: 10%;
    border-radius: 100%;
    border: 8px solid #fff;
    box-sizing: content-box;
    position: absolute;
    bottom: 67px;
    left: 96px;
}
.card-name{
    color: #fff;
    position: relative;
    bottom: -25px;
    font-weight: 500;
    font-size: 27px;
}
.card-info{
    position: relative;
    bottom: -35px;
    color: rgba(255,255,255,0.75);
    font-size: 16px;
    
}
.card-text{
    padding: 0 25px;
/*    position: absolute;*/
    top: 5px;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    color: #999999;
}
.fa{
    font-size: 60px;
   margin: 5px auto;
    color: #f67e7d;
}
/*********************************
         OWL SLIDER BUTTONS
**********************************/
.owl-carousel .owl-item img {
    display: inline-block;
    width: 36%;
}
/*************************************
venue card
************************************/
.venue-card{
    background-color: #fff;
    height: 430px;
    width: 350px;
/*    position: absolute;*/
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.1);
    border: 1px solid #fddddc;
}
.venue-info{
    height: 100%;
    width: 100%;
    display: flex;
}
.event-name{
    font-size: 17px;
    color: #999999;
    position: absolute;
    font-weight: 400;
    top: 100px;
}
.divider{
    background-color: #949594;
    height: 2px;
    width: 50px;
    margin: 25px 0 20px 150px;
}
.btn-custom {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    border: 1px solid #fddddc;
    padding: 8px 10px;
}
.photo{
    position: absolute;
    bottom: 0;
    background-size: 100% 100%;
    border-radius: 8px;
    transition: .5s ease-in-out;
    box-sizing: content-box;
    overflow: hidden;
}
.venue-card:hover .photo{
    transform: scale(0.5,0.30) translateY(-650px);
    background-size: 100% 150%;
    background-position: 0 -25px;
    border-radius: 60%;
    width: 80%;
    margin-left: 30px;
    border: solid 5px  #f67e7d;
}
.big-text{
    font-size: 30px;
    color: #f67e7d;
}
/**********************
Form
********************/
.attending{
    padding: 70px 50px 50px 50px;
    background: #fff;
   
}
.attending .form-group {
    margin-bottom: 30px;
}
.form-control {
    height: 52px !important;
    background: #fff !important;
    color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
    border-radius: 0px;
    box-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.btn .btn-primary {
    background: #f67e7d;
    border: 1px solid #f67e7d !important;
    color: #fff !important;
}
.bg{
    background-color: #DCF4E6;
}
.attending .select-wrap {
    position: relative;
}
.attending .select-wrap .icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 52px;
    height: 52px;
}
.btn {
    cursor: pointer;
    border-radius: 30px;
    box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
    background: #f67e7d;
}
.pl-4, .px-4 {
    padding-left: 1.5rem !important;
}
.pr-4, .px-4 {
    padding-right: 1.5rem !important;
}
.pb-3, .py-3 {
    padding-bottom: 1rem !important;
}
.pt-3, .py-3 {
    padding-top: 1rem !important;
}
.text-btn{
    color: #fff;
}

/*portfolio hover*/
.portfolio-item{
    margin: 15px;
    overflow: hidden;
}
.portfolio-item:hover img {
    transform: scale(1.2);
    transition: all .2s ease;
}
/*isotope filter*/
#isotope-filters button {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: none;
    outline: 0;
    background: transparent;
    padding: 20px 0;
    margin-left: 60px;
}

#isotope-filters button span {
    display: block;
    padding-bottom: 5px;
    border-bottom: solid 3px transparent;
    transition: border-color .4s ease;
}

#isotope-filters button.active span {
    color: #f67e7d;
    border-bottom: solid 3px #f67e7d;
}
.gallery {
    width: 100%;
    height: 450px;
    position: relative;
    z-index: 0;
    overflow: hidden;
}
/*******************************
Footer
**********************************/


footer{
    background: #f67e7d;
    padding: 10px;
}
footer p{
    color: #fff;
    font-size: 17px;;
}
.btn-back-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 3px;
    color: #fff;
}
.top-btn i {
    z-index: 999;
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 1.5rem 1.5rem;
    font-size: 1.8rem;
    background: #f67e7d;
    color: #FFF;
}
